h1{
  text-align: center;
  font-size: 3em;
}

div.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(180px, auto);
  grid-gap: 20px;
  margin: 15px;
}

.buttons button{
  background-color: #4bb5ff;
  border: none;
  font-size: 2.5em;
  color: #def5ff;
}

.buttons button:hover{
  background-color: #007acf;
  cursor: pointer;
}
