body{
  background-color: #00a2e8;
  font-family: sans-serif;
}

h1{
  color: #def5ff;
  text-align: center;
  font-size: 3em;
}

div.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 10px;
}

.buttons button{
  background-color: #4bb5ff;
  border: none;
  color: #def5ff;
  font-size: 2.5em;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus {
  outline: none;
}

.buttons button:hover{
  background-color: #007acf;
  cursor: pointer;
}
