body{
  background-color: #00a2e8;
  font-family: sans-serif;
  color: #def5ff;
  font-size: 1.4em;
}

div.questions{
  text-align: center;
}

div.question{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 10vh;
}

.question span{
  color: blue;
}

.question img{
  width: 400px;
  height: 320px;
}

table{
  margin: auto;
}

table tr{
  display: block;
  margin-bottom: 10px;
}

td{
  width: 20px;
}

td.ans{
  width: 20vw;
}

input[type="checkbox"]{
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  margin: auto 10px;
  display: inline-block;
}

button{
  background: linear-gradient(#70b0ff,#0053b9);
  border: 2px solid #70b0ff;
  padding: 10px;
  color: #def5ff;
  border-radius: 5px;
  font-size: 2em;
  display: block;
  margin: 20px auto;
}

button:hover{
  background: linear-gradient(#0053b9, #70b0ff);
}

p.timer{
  text-align: center;
  font-size: 1.5em;
}
