<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
  </head>
  <body>
    <h2>Унесите податке које добијете од наставника</h2>

    <form class="login" action="/" method="post">
      <label for="username">Корисничко име: </label>
      <input type="text" name="username" placeholder="username" required>

      <label for="password">Лозинка: </label>
      <input type="password" name="password" placeholder="password" required>

      <input type="submit" name="login" value="Улогуј се">
    </form>
  </body>
</html>
